# AWS DynamoDB Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-southeast-2

# Google Gemini API Configuration
GEMINI_API_KEY=AIzaSyAThEU1CNpC9r3EkNcyDE12tM7WcAy-UbM
